<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- Mapper代理开发 -->
<!-- Mapper接口和sql映射文件编译后在同一目录下 -->
<!-- namespace名称空间: 为mapper接口全限定名-->
    <mapper namespace = "com.seiryo.dao.CommodityMapper">
		<select id = "findRecommendedCommodities" resultType = "com.seiryo.pojo.Commodity">
        SELECT
            *
        FROM
            Commodity
			<!--       <where>
					  &lt;!&ndash; 年龄筛选：用户的年龄必须在保险的适用年龄范围内 &ndash;&gt;
					  <if test = "userAge != null and userAge >= 0">
						  AND #{userAge} BETWEEN commodity_age_start AND commodity_age_end
					  </if>
					  &lt;!&ndash; 性别筛选：保险适用性别要匹配用户性别，或者为通用('2') &ndash;&gt;
					  <if test = "userGender != null and userGender != ''">
						  AND (commodity_applicable_gender = #{userGender} OR commodity_applicable_gender = '2')
					  </if>
				  </where> -->
    </select>
    </mapper>